<!--
Purpose: Add the SSO User resolver and change some required settings
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <!--Patch the SSO user resolver into the pipeline. It needs to run just after the default Sitecore user resolver.-->
        <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="USQ.SingleSignOn.UserResolver, USQ.SingleSignOn"/>
      </httpRequestBegin>
    </pipelines>

    <settings>
      <!--This is a Sitecore page with information about missing permissions.-->
      <setting name="NoAccessUrl" set:value="/sitecore/service/Authenticate.aspx" />

      <!-- /AuthServices needs to be added to this setting
      <setting name="IgnoreUrlPrefixes" set:value="/AuthServices"></setting>
      -->
    </settings>
  </sitecore>
</configuration>